.project-container {
    background-color: black;
    margin: 0 auto;
    padding: 20px;
}

.project-slide {
    width: 300px;
}


.slide-content{
    color: white;
}

.project-slide{
    display: block;
    margin: 0 auto;
}


.slide-img{
    display: block;
    width: 800px;
    margin: 30px auto;
}

.slide-content{
    display: block;
    width: 800px;
    margin: 0 auto;
}

@media (max-width: 1023px ) {
    .slide-content{

        width: 500px;
    }
    .slide-img{
        width: 500px;
    }
}

@media (max-width: 545px ) {
    .slide-content{

        width: 300px;
    }
    .slide-img{
        width: 300px;
    }


}
