.brief-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 60px;
}

.brief-title{
    color: black;
    font-size: 26px;
}


.brief-btn{
    display: block;
    margin: 20px auto;
    width: 200px;
    background: none;
    border: 2px solid;
    cursor: pointer;
    font: inherit;
    padding: 1em 2em;
}



