
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@1,100&display=swap');



.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: 300% 300%;
    animation: move-bg 10s linear infinite;
}


@keyframes move-bg {
    0%{
        background-position: 0%, 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0%, 50%;
    }
}



.logo{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 5px;
    z-index: 5;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    z-index: 5;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.burgerLine {
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 3px 0;
    /*z-index: 5;*/
}

.middle-line {
    width: 13px;
}

.burger-menu .open{
    background-color: black;
}

.burger-menu .open .burgerLine {
    background-color: white;
}

@keyframes topToDiagonal {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(8.3px) rotate(45deg);
    }
}


@keyframes bottomToDiagonal {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-8.3px) rotate(-45deg);
    }
}

.open .top-line {
    animation: topToDiagonal 0.3s ease forwards;
}

.open .middle-line {
    opacity: 0;
}

.open .bottom-line {
    animation: bottomToDiagonal 0.3s ease forwards;
}




.nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease;
    animation:  0.5s ease forwards;
}

.nav.open {
    right: 0;
    background-color: white;
    animation:   0.5s ease forwards;
}



.nav.open ul li a{
    animation:  0.5s ease forwards;
}

.scroll-locked{
    overflow: hidden;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    position: relative;
}

.nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
}


.nav ul li a:hover::before {
    width: 100%;
}
a{
    text-decoration: none;
}

.nav-item-link{
    color: white;
}
.nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    line-height: 15px;
}

.nav ul li {
    margin-bottom: 15px;
}

.contact{
    font-size: 14px;
    margin: 10px 10px;
    color: gray;
}
.nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}


h1{
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    color: white;
    margin: 20px 10px;
}

.main-nav-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrap{
    display: flex;
    margin-right: 20px;
    color: white;

}

.nav-item{
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-item:hover{
    scale: 1.5;
    transition: 0.4s ease-out;
}

.nav-item-link{
    cursor: pointer;
}

.button{
    --width:130px;
    --height:40px;
    position:relative;
    display:block;
    width: var(--width);
    height: var(--height);
    line-height:var(--height);
    color: white;
    padding: 0;
    margin: 100px auto;
    border: none;
    text-align: center;
    font-family:sans-serif;
    font-size:16px;
    letter-spacing:8px;
    text-transform:uppercase;
    text-decoration:none;
    transition:2s;
    z-index: 0;
    background-color:transparent;
}
.button:hover,
.button:focus{
    outline:none;
    color:white
}
.button-svg,
.button-rect{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill:none;
}


.button-rect{
    stroke: white;
    stroke-width:5;
    stroke-dasharray:var(--height) var(--width);
    stroke-dashoffset:calc(
            2 * var(--width) + 2.5* var(--height)
    );
    transition:2s;
}
.button:hover .button-rect,
.button:focus .button-rect{
    stroke:white;
    stroke-dashoffset:calc(1.5 * var(--height));
}

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :34px;
    height: 55px;
}
.mouse {
    display: block;
    margin: 0 auto;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

@media (max-width: 769px) {
    .mouse {
        display: none;
    }
}

@media (max-width: 1023px){
    .nav-wrap{
        display: none;
    }
}


