.contact-container {
    text-align: center;
    background-color: black;
    min-height: 550px;
    padding: 20px;
}

.contact-title {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
}

.contact-methods {
    display: flex;
    justify-content: center;
    min-width: 300px;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-method {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-method.active {
    background-color: #b6afaf;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    align-items: center;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form input:focus{
    outline: none;
}

.contact-form textarea:focus{
    outline: none;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: gray;
}

