.why-us-container {
    background-color: black;
    padding: 10px;
}
.why-us-title{
    font-size: 26px;
    margin: 20px 0 50px 0;
}
.why-us-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    /*max-gap: 10px;*/
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1023px) {
    .why-us-container{

    }
    .why-us-block{
        width: 500px;
    }
}

@media (max-width: 566px) {
    .why-us-container{

    }
    .why-us-block{
        width: 300px;
    }
}

.why-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 145px;
    height: 140px;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icon {
    width: 40px;
    margin-top: 20px;
    transition: transform 0.3s ease;
}


.why-us-item:hover {
    transform: scale(1.1);
}

.icon:hover {
    width: 60px;
    transform: translateY(-5px);
}

.order-button {
    display: block;
    background-color: white;
    margin: 30px auto;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.order-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


.order-button:hover {
    background-color: white;
    transform: translateY(-3px);
}

.order-button:hover::before {
    transform: scaleX(1);
}


